<head>
  <title>Warehouse Management System</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <h1>Welcome to the Autonomous Warehouse Management System</h1>

<nav class="nav">[ Home | <a href="/customers">Customers</a> | <a href="/products">Products</a> | <a href="/orders">Orders</a> | <a href="/robots">Robots</a> | <a href="/shipmentContainers">Shipment Containers</a> | <a href="/ordersProducts">Orders/Products</a> ]</nav>

<div class="about">
  <p>As e-commerce and online shopping rapidly expand, efficient warehouse management becomes increasingly 
    important to meet consumer demand and optimize operations. The Autonomous Warehouse Management System (AWMS) is a database designed 
     to facilitate the operations of a warehouse, managing customer orders consisting of products, with transportation to shipment containers facilitated by the use of autonomous robots. 
    Click on any of the links above to manage different entities in the AWMS.</p>
</div>
</body>
</html>